.confirm-text{
    text-align: center;
    padding-bottom: 0;
}

.img{
 
  width: 40%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .btn1{
  

} */

.username{
  background-color: rgb(216, 228, 235);
  font-weight: 600;
}